<style>
      * {
         font-family: Comic;
         background-color: #4169e1;
      }
      h1 {color:#4169e1;
      }

body {
   background-color:#4169e1;
}
div{background-color: lime; border-style: solid; border-width: 7px; border-color: Yellow; opacity: 10}</div>
<style>
  * {
     font-family: Comic;
     background-color: #4169e1;
     padding: 5px;
  }
  p { color:#4169e1;
   background-color: RoyalBlue;
}

 .inner-block {

   text-indent: 20px;
 }
.inner-block {
   position: absolute;
}
div.inner-block {
    opacity: 0.4;
}
</style>
/*I GREW UP IN DA 80'S*/
